* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background: #ffffff;
  color: #222;
}

/* Generel layout */
header,
main,
footer {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}
main {
  padding: 24px 12px;
}
section {
  margin-bottom: 32px;
}

/* Header */
header {
  display: grid;
  grid-template-columns: 120px 1fr 140px;
  align-items: center;
  gap: 16px;
  padding: 12px;
  border: 1px solid #ffffff;
}

header > div:first-child,
header h1,
header nav {
  border: 1px solid #ffffff;
  padding: 12px;
  text-align: center;
}
nav {
  border: 1px solid #000;
  background-color: rgb(255, 123, 172);
  border-radius: 12px;
}

/* Hero */
main > section:nth-of-type(1) {
  height: 480px;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

/* Billede + tekst sektion */
main > section:nth-of-type(2) {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 24px;
  align-items: stretch;
}

main > section:nth-of-type(2) > div:first-child {
  position: relative;
  border: 1px solid #ffffff;
  min-height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main > section:nth-of-type(2) > div:first-child > div:last-child {
  position: absolute;
  color: #ffffff;

  /* background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ffffff; */
  padding: 12px;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

aside h2,
aside h3,
aside p {
  border: 1px solid #ffffff;
  padding: 6px;
}

/* Underoverskrift fuld bredde */
main > section:nth-of-type(3) h3 {
  border: 1px solid #ffffff;
  padding: 16px;
  text-align: center;
}

/* Footer */
footer {
  border: 1px solid #fffefe;
  padding: 16px;
  text-align: center;
  margin-top: 24px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 700px) {
  /* Hele gallerisektionen bliver én kolonne */
  main > section:nth-of-type(4) {
    display: block;
  }

  main > section:nth-of-type(2) {
    grid-template-columns: 1fr;
  }
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    width: 100%;
    padding: 10px;
  }
  .gallery img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
  }
}
@media (min-width: 701px) {
  /* billede til kollage */
  .gallery {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-rows: auto; /*to rækker (top + bottom)  */
    gap: 15px;
    align-items: stretch;
  }
  /* placeringer så layout matcher dit billede */
  .gallery img:first-child {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    aspect-ratio: auto;
  }

  .gallery img:nth-child(2) {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    aspect-ratio: auto;
  }

  .gallery img:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    aspect-ratio: auto;
  }

  .gallery img:nth-child(4) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    aspect-ratio: auto;
  }
}
